<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>warning.png</key>
	<dict>
		<key>title</key>
		<string>warning.png</string>
		<key>tag</key>
		<string>warn, warning, </string>
	</dict>
	<key>arrow_left.png</key>
	<dict>
		<key>title</key>
		<string>arrow_left.png</string>
		<key>tag</key>
		<string>arrow, left, </string>
	</dict>
	<key>arrow_right.png</key>
	<dict>
		<key>title</key>
		<string>arrow_right.png</string>
		<key>tag</key>
		<string>arrow, right, </string>
	</dict>
	<key>blueberry.png</key>
	<dict>
		<key>title</key>
		<string>blueberry.png</string>
		<key>tag</key>
		<string>blue, berry, fruit, </string>
	</dict>
	<key>Abraham_Lincoln-1865.png</key>
	<dict>
		<key>title</key>
		<string>Abraham_Lincoln-1865.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>Anonymous_Einstein.png</key>
	<dict>
		<key>title</key>
		<string>Anonymous_Einstein.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>Archie_Che_Guevara.png</key>
	<dict>
		<key>title</key>
		<string>Archie_Che_Guevara.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>Audrey_Hepburn.png</key>
	<dict>
		<key>title</key>
		<string>Audrey_Hepburn.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>Charles_Chaplin.png</key>
	<dict>
		<key>title</key>
		<string>Charles_Chaplin.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>Charlie_Chaplin-The_Kid.png</key>
	<dict>
		<key>title</key>
		<string>Charlie_Chaplin-The_Kid.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>JicJac_4_Post_Bed.png</key>
	<dict>
		<key>title</key>
		<string>JicJac_4_Post_Bed.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>JicJac_Chair.png</key>
	<dict>
		<key>title</key>
		<string>JicJac_Chair.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>JicJac_Couch.png</key>
	<dict>
		<key>title</key>
		<string>JicJac_Couch.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>Machovka_Bookcase.png</key>
	<dict>
		<key>title</key>
		<string>Machovka_Bookcase.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>Tokugawa_Ieyasu.png</key>
	<dict>
		<key>title</key>
		<string>Tokugawa_Ieyasu.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>TuraSatana.png</key>
	<dict>
		<key>title</key>
		<string>TuraSatana.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>airplane.png</key>
	<dict>
		<key>title</key>
		<string>airplane.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>bob_marley.png</key>
	<dict>
		<key>title</key>
		<string>bob_marley.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>che_with_background.png</key>
	<dict>
		<key>title</key>
		<string>che_with_background.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>erlandh_Lounge_Chair_Red.png</key>
	<dict>
		<key>title</key>
		<string>erlandh_Lounge_Chair_Red.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>famous_people_elton.png</key>
	<dict>
		<key>title</key>
		<string>famous_people_elton.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>firetruck.png</key>
	<dict>
		<key>title</key>
		<string>firetruck.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>hendrix.png</key>
	<dict>
		<key>title</key>
		<string>hendrix.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>hendrix3.png</key>
	<dict>
		<key>title</key>
		<string>hendrix3.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>home-chest_of_drawers.png</key>
	<dict>
		<key>title</key>
		<string>home-chest_of_drawers.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Assyrian_chair.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Assyrian_chair.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Benjamin_Disraeli.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Benjamin_Disraeli.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Booth_Tarkington.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Booth_Tarkington.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Charles_Darwin.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Charles_Darwin.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Charles_Gates_Dawes.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Charles_Gates_Dawes.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Ferdinand_Foch.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Ferdinand_Foch.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Frederick_the_Great.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Frederick_the_Great.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Garet_Garrett.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Garet_Garrett.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Georges_Clemenceau.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Georges_Clemenceau.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Giovanni_Martinelli.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Giovanni_Martinelli.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Ignacy_Jan_Paderewski.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Ignacy_Jan_Paderewski.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_John_Masefield.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_John_Masefield.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Josef_Lhevinne.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Josef_Lhevinne.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Joseph_Joffre.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Joseph_Joffre.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Joseph_Wellington_Byrns.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Joseph_Wellington_Byrns.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Judge_Ito.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Judge_Ito.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Kaiser_Wilhelm.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Kaiser_Wilhelm.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Marquis_de_Lafayette.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Marquis_de_Lafayette.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Otto_von_Bismarck.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Otto_von_Bismarck.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Paul_von_Hindenburg.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Paul_von_Hindenburg.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Robert_Herrick.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Robert_Herrick.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Simon_Bolivar.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Simon_Bolivar.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_William_Gladstone.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_William_Gladstone.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_Woodrow_Wilson.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_Woodrow_Wilson.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_a_young_kaiser_Wilhelm.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_a_young_kaiser_Wilhelm.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_cartoony_Kaiser_Wilhelm.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_cartoony_Kaiser_Wilhelm.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_chair.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_chair.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_file_cabnet_drawers.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_file_cabnet_drawers.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_file_cabnet_drawers_2.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_file_cabnet_drawers_2.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_flat_file.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_flat_file.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_multiple_files.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_multiple_files.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_older_Kaiser_Wilhelm.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_older_Kaiser_Wilhelm.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_stack_of_horizontal_sections.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_stack_of_horizontal_sections.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>johnny_automatic_vertical_filing_cabinets.png</key>
	<dict>
		<key>title</key>
		<string>johnny_automatic_vertical_filing_cabinets.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>low_chair_silhouette.png</key>
	<dict>
		<key>title</key>
		<string>low_chair_silhouette.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>morrison.png</key>
	<dict>
		<key>title</key>
		<string>morrison.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>mozart.png</key>
	<dict>
		<key>title</key>
		<string>mozart.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>raffaella_biscuso_Chair.png</key>
	<dict>
		<key>title</key>
		<string>raffaella_biscuso_Chair.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>rocket.png</key>
	<dict>
		<key>title</key>
		<string>rocket.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>shopin.png</key>
	<dict>
		<key>title</key>
		<string>shopin.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>shopin_portrait.png</key>
	<dict>
		<key>title</key>
		<string>shopin_portrait.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>sportscar.png</key>
	<dict>
		<key>title</key>
		<string>sportscar.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>stool.png</key>
	<dict>
		<key>title</key>
		<string>stool.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>tom_wooden_bookcase.png</key>
	<dict>
		<key>title</key>
		<string>tom_wooden_bookcase.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>tom_wooden_bookcase_1.png</key>
	<dict>
		<key>title</key>
		<string>tom_wooden_bookcase_1.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>tom_wooden_bookcase_2.png</key>
	<dict>
		<key>title</key>
		<string>tom_wooden_bookcase_2.png</string>
		<key>tag</key>
		<string></string>
	</dict>
	<key>wireless_modem.png</key>
	<dict>
		<key>title</key>
		<string>wireless_modem.png</string>
		<key>tag</key>
		<string></string>
	</dict>
</dict>
</plist>
